/* 

Fonts

font-family: 'Quicksand', sans-serif;

 */

/* 
 
 Variables

 */

:root {
  --main: #5a7c83;
  --link: rgba(87, 96, 111, 1);
  --link-hover: rgba(255, 107, 129, 1);
  --accent: #c4b6a9;
  font-family: 'Quicksand', sans-serif;
}

/* 
 
 Reset
 
 */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

/* 
 
 Text
 
 */

.navBar {
  font-family: 'Quicksand', sans-serif;
  /* color: var(--main); */
  color: #5a7c83;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo svg {
  width: 4em;
  height: auto;
}

.logoText {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main);
  font-size: 3.5em;
  font-weight: 600;
  line-height: 0.85em;
  margin-top: 0.1em;
}

.logoText span {
  /* border: 1px solid green; */
  /* margin-top: -0.1em; */
}

.textCafe {
  color: var(--accent);
  font-size: 0.75em;
}

@media screen and (min-width: 480px) {
  body {
    /* font-size: 30px; */
  }
}
